# flyctl launch added from .gitignore
# Ignore virtual environment
**\venv
**\ENV
**\env
**\.venv

# Ignore Python cache and compiled files
**\__pycache__
**\*.pyc
**\*.pyo
**\*.pyd

# Ignore config and environment files
**\.env
**\*.sqlite3
**\*.db

# Ignore IDE/project settings
**\.vscode
**\.idea
**\*.csv
**\*.pkl
**\*.h5
**\*.keras
fly.toml
