USE [CVD_App]
GO
ALTER TABLE [dbo].[NguoiDung] DROP CONSTRAINT [CK__NguoiDung__Role__38996AB5]
GO
ALTER TABLE [dbo].[NguoiDung] DROP CONSTRAINT [CK__NguoiDung__GioiT__398D8EEE]
GO
ALTER TABLE [dbo].[TinNhanAI] DROP CONSTRAINT [FK__TinNhanAI__BenhN__70DDC3D8]
GO
ALTER TABLE [dbo].[ChanDoan] DROP CONSTRAINT [FK_ChanDoan_BenhNhan]
GO
ALTER TABLE [dbo].[ChanDoan] DROP CONSTRAINT [FK_ChanDoan_BacSi]
GO
ALTER TABLE [dbo].[TinNhanAI] DROP CONSTRAINT [DF__TinNhanAI__ThoiG__6FE99F9F]
GO
ALTER TABLE [dbo].[NguoiDung] DROP CONSTRAINT [DF__NguoiDung__NgayT__3A81B327]
GO
ALTER TABLE [dbo].[ChanDoan] DROP CONSTRAINT [DF__ChanDoan__NgayCh__3D5E1FD2]
GO
/****** Object:  Index [UQ__NguoiDun__A9D105341718B96F]    Script Date: 11/11/2025 12:34:34 PM ******/
ALTER TABLE [dbo].[NguoiDung] DROP CONSTRAINT [UQ__NguoiDun__A9D105341718B96F]
GO
/****** Object:  Table [dbo].[TinNhanAI]    Script Date: 11/11/2025 12:34:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TinNhanAI]') AND type in (N'U'))
DROP TABLE [dbo].[TinNhanAI]
GO
/****** Object:  View [dbo].[V_LichSuChanDoan]    Script Date: 11/11/2025 12:34:34 PM ******/
DROP VIEW [dbo].[V_LichSuChanDoan]
GO
/****** Object:  View [dbo].[V_ThongKeBacSi]    Script Date: 11/11/2025 12:34:34 PM ******/
DROP VIEW [dbo].[V_ThongKeBacSi]
GO
/****** Object:  Table [dbo].[ChanDoan]    Script Date: 11/11/2025 12:34:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChanDoan]') AND type in (N'U'))
DROP TABLE [dbo].[ChanDoan]
GO
/****** Object:  View [dbo].[V_BenhNhan]    Script Date: 11/11/2025 12:34:34 PM ******/
DROP VIEW [dbo].[V_BenhNhan]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/11/2025 12:34:34 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NguoiDung]') AND type in (N'U'))
DROP TABLE [dbo].[NguoiDung]
GO
USE [master]
GO
/****** Object:  Database [CVD_App]    Script Date: 11/11/2025 12:34:34 PM ******/
DROP DATABASE [CVD_App]
GO
/****** Object:  Database [CVD_App]    Script Date: 11/11/2025 12:34:34 PM ******/
CREATE DATABASE [CVD_App]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CVD_App', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CVD_App.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CVD_App_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CVD_App_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CVD_App].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CVD_App]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/11/2025 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_BenhNhan]    Script Date: 11/11/2025 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   5️⃣ VIEW HIỂN THỊ DANH SÁCH BỆNH NHÂN
   ============================================================ */
CREATE   VIEW [dbo].[V_BenhNhan] AS
SELECT 
    ID AS BenhNhanID,
    HoTen, 
    Email,
    GioiTinh,
    DienThoai,
    NgaySinh,
    DiaChi,
    NgayTao
FROM NguoiDung
WHERE Role = 'patient';
GO
/****** Object:  Table [dbo].[ChanDoan]    Script Date: 11/11/2025 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChanDoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BenhNhanID] [int] NOT NULL,
	[BacSiID] [int] NULL,
	[NgayChanDoan] [datetime] NULL,
	[BMI] [float] NULL,
	[HuyetApTamThu] [float] NULL,
	[HuyetApTamTruong] [float] NULL,
	[Cholesterol] [nvarchar](50) NULL,
	[DuongHuyet] [nvarchar](50) NULL,
	[HutThuoc] [bit] NULL,
	[UongCon] [bit] NULL,
	[TapTheDuc] [bit] NULL,
	[NguyCo] [nvarchar](50) NULL,
	[LoiKhuyen] [nvarchar](max) NULL,
	[Tuoi] [int] NULL,
	[GioiTinh] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ThongKeBacSi]    Script Date: 11/11/2025 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   7️⃣ VIEW THỐNG KÊ BÁC SĨ
   ============================================================ */
CREATE   VIEW [dbo].[V_ThongKeBacSi] AS
SELECT 
    bs.ID AS BacSiID,
    bs.HoTen AS TenBacSi,
    COUNT(cd.ID) AS SoCaChanDoan
FROM NguoiDung bs
LEFT JOIN ChanDoan cd ON cd.BacSiID = bs.ID
WHERE bs.Role = 'doctor'
GROUP BY bs.ID, bs.HoTen;
GO
/****** Object:  View [dbo].[V_LichSuChanDoan]    Script Date: 11/11/2025 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_LichSuChanDoan] AS
SELECT
    cd.ID AS ChanDoanID,
    cd.BenhNhanID,
    cd.BacSiID,
    bn.HoTen AS TenBenhNhan,
    ISNULL(cd.GioiTinh, bn.GioiTinh) AS GioiTinh,   -- 👈 Ưu tiên dữ liệu nhập
    ISNULL(cd.Tuoi, DATEDIFF(YEAR, bn.NgaySinh, GETDATE())) AS Tuoi, -- 👈 Ưu tiên dữ liệu nhập
    bs.HoTen AS TenBacSi,
    cd.NgayChanDoan,
    cd.BMI,
    cd.HuyetApTamThu,
    cd.HuyetApTamTruong,
    cd.Cholesterol,
    cd.DuongHuyet,
    cd.HutThuoc,
    cd.UongCon,
    cd.TapTheDuc,
    cd.NguyCo,
    cd.LoiKhuyen
FROM ChanDoan cd
JOIN NguoiDung bn ON cd.BenhNhanID = bn.ID
LEFT JOIN NguoiDung bs ON cd.BacSiID = bs.ID;
GO
/****** Object:  Table [dbo].[TinNhanAI]    Script Date: 11/11/2025 12:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhanAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BenhNhanID] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[PhanHoi] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChanDoan] ON 

SET IDENTITY_INSERT [dbo].[ChanDoan] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([ID], [HoTen], [Email], [MatKhau], [Role], [NgaySinh], [GioiTinh], [DienThoai], [DiaChi], [NgayTao]) VALUES (1, N'Quản trị viên', N'admin@cvdapp.com', N'123456', N'admin', CAST(N'1970-01-01' AS Date), N'Nam', N'0909000000', N'Phòng quản trị hệ thống - TP.HCM', CAST(N'2025-10-13T10:45:44.153' AS DateTime))
INSERT [dbo].[NguoiDung] ([ID], [HoTen], [Email], [MatKhau], [Role], [NgaySinh], [GioiTinh], [DienThoai], [DiaChi], [NgayTao]) VALUES (2, N'Nguyễn Văn A', N'doctor1@cvdapp.com', N'123456', N'doctor', CAST(N'1980-05-10' AS Date), N'Nam', N'0909123456', N'140 Lê Trọng Tấn, Tân Phú, TP.HCM', CAST(N'2025-10-13T10:45:44.157' AS DateTime))
INSERT [dbo].[NguoiDung] ([ID], [HoTen], [Email], [MatKhau], [Role], [NgaySinh], [GioiTinh], [DienThoai], [DiaChi], [NgayTao]) VALUES (3, N'Trần Thị B', N'doctor2@cvdapp.com', N'123456', N'doctor', CAST(N'1985-11-22' AS Date), N'Nữ', N'0909555123', N'15 Nguyễn Huệ, Quận 1, TP.HCM', CAST(N'2025-10-13T10:45:44.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[TinNhanAI] ON 

INSERT [dbo].[TinNhanAI] ([ID], [BenhNhanID], [NoiDung], [PhanHoi], [ThoiGian]) VALUES (2, 6, N'Tôi đang khó thở, không biết có liên quan đến tim không', N'Chào bạn, tôi hiểu bạn đang lo lắng về tình trạng khó thở của mình. Khó thở có thể do nhiều nguyên nhân, trong đó có các vấn đề về tim.

Để biết chính xác, bạn nên đi khám bác sĩ sớm nhất có thể. Bác sĩ sẽ hỏi rõ hơn về tình trạng của bạn và có thể cần làm thêm các xét nghiệm để chẩn đoán.

Đừng quá lo lắng, việc đi khám sẽ giúp bạn hiểu rõ hơn về sức khỏe của mình.', CAST(N'2025-10-22T15:34:30.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[TinNhanAI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D105341718B96F]    Script Date: 11/11/2025 12:34:34 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChanDoan] ADD  DEFAULT (getdate()) FOR [NgayChanDoan]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TinNhanAI] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[ChanDoan]  WITH CHECK ADD  CONSTRAINT [FK_ChanDoan_BacSi] FOREIGN KEY([BacSiID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[ChanDoan] CHECK CONSTRAINT [FK_ChanDoan_BacSi]
GO
ALTER TABLE [dbo].[ChanDoan]  WITH CHECK ADD  CONSTRAINT [FK_ChanDoan_BenhNhan] FOREIGN KEY([BenhNhanID])
REFERENCES [dbo].[NguoiDung] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChanDoan] CHECK CONSTRAINT [FK_ChanDoan_BenhNhan]
GO
ALTER TABLE [dbo].[TinNhanAI]  WITH CHECK ADD FOREIGN KEY([BenhNhanID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([Role]='patient' OR [Role]='doctor' OR [Role]='admin'))
GO
USE [master]
GO
